.frame {
    height: 1.5rem;
}
.menu-list {
    background-image: url('../img/Untitled.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin-top: 5px;
}
.menu-link {
    list-style-type: none;
}
.slider-link {
    margin-bottom: 15px;
    font-size: small;
}
.img-slider {
    max-width: 100%;
}

.contrl-carusel {
    width: 200px;
    margin-bottom: 20px;
}

.wrapper-link {
    height: 100%;
}
.slider {
    background: url('../img/Vector\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-round {
    height: 40px;
    border-radius: 20px;
}

.carousel-wrapper {
    min-height: 500px;
}

.icons .icon {
    max-height: 30px;
}

.carousel-control-prev, .carousel-control-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    border: 1px solid red;
    border-radius: 50%;
    background-size: 60%;
    width: 100%;
    height: 100%;
}